// app global css in SCSS form

.light {
  padding: 0.3em 0.6em;
  border-radius: 1em;
}

h1.ui.header {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

h2.ui.header {
  font-size: 1.5em;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
